.buttonMenu
{
	text-align: center;
}

.menuHeader
{
	max-width: 90vw;
	width: fit-content;
	margin: auto;
	margin-top: 0rem;
	margin-bottom: 2rem;
	font-size: 2rem;
	font-family: 'Lora', serif;
	font-weight: bold;
}

.book
{
	display: block;
	max-width: 30vw;
	width: fit-content;
	cursor: pointer;
	margin: auto;
	margin-bottom: 0.3rem;
	text-decoration: underline;
	font-family: 'Lora', serif;
}
