
.buttonMenu
{
	text-align: center;
}

.menuHeader
{
	max-width: 90vw;
	width: fit-content;
	margin: auto;
	margin-top: 0rem;
	margin-bottom: 2rem;
	font-size: 2rem;
}

.chapter
{
	display: block;
	max-width: 30vw;
	width: fit-content;
	cursor: pointer;
	margin-left: 35vw;
	margin-bottom: 0.3rem;
	text-decoration: underline;
	color: #0000EE;
}
