
.chapter
{
	text-align: justify;
	max-width: 60ch;
	width: calc(100% - 4rem);
	margin: auto;
}

.title
{
	position: fixed;
	text-align: center;
	font-size: 4rem;
	top: 40%;
	left: 50%;
	transform: translateX(-50%);
}
