.info
{
	position: fixed;
	top: 35%;
	left: 50%;
	width: 70vw;
	transform: translateX(-50%);
}

.error
{
	position: relative;
	text-align: center;
	font-size: 3rem;
	top: 0rem;
	left: 0rem;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
}

.errorDetails
{
	position: relative;
	text-align: center;
	font-size: 2rem;
	top: 1rem;
	left: 0rem;
}
