.musicPlayer
{
	position: fixed;
	display: flex;
	top: 4%;
	right: 4%;
	opacity: 15%;
	transition: opacity 0.2s ease;
	padding: 15px;
}

.musicPlayerZoomed
{
	flex-direction: column;
	top: 15%;
	right: 2%;
}

.musicPlayerZoomedMore
{
	top: 20%;
	right: 0%;
}

.musicPlayer:hover
{
	opacity: 100%;
}
