.notepadButtonMenu
{
	position: fixed;
	display: flex;
	top: 4%;
	left: 4%;
	opacity: 15%;
	transition: opacity 0.2s ease;
	padding: 15px;
	background-color: #FFF0;
}

.notepadButtonMenuZoomed
{
	flex-direction: column;
	top: 15%;
	left: 2%;
}

.notepadButtonMenuZoomedMore
{
	top: 20%;
	left: 0%;
}

.notepadButtonMenu:hover
{
	opacity: 100%;
}
