.buttonMenu
{
	text-align: center;
}

.menuHeader
{
	max-width: 90vw;
	width: fit-content;
	margin: auto;
	margin-top: 0rem;
	margin-bottom: 2rem;
	font-size: 2rem;
	font-family: 'Lora', serif;
	font-weight: bold;
}

.settings
{
	display: grid;
	max-width: 30rem;
	width: fit-content;
	margin: auto;
	grid-template-columns: 2fr 1fr;
	row-gap: 1.5rem;
	align-items: center;
	font-family: 'Lora', serif;
}

.slider
{
	display: flex;
}

.settingButton
{
	width: fit-content;
	margin: auto;
	margin-left: 0rem;
	padding-left: 0.3rem;
	padding-right: 0.3rem;
	font-size: 0.8rem;
}
