.buttonMenu
{
	text-align: center;
}

.menuHeader
{
	max-width: 90vw;
	width: fit-content;
	margin: auto;
	margin-top: 0rem;
	margin-bottom: 2rem;
	font-size: 2rem;
}

.settings
{
	display: grid;
	max-width: 30rem;
	width: fit-content;
	margin: auto;
	grid-template-columns: 2fr 1fr;
	row-gap: 1.5rem;
	align-items: center;
}

.slider
{
	display: flex;
}
