*, *::before, *::after
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1
{
	text-align: center;
	margin-bottom: 1rem;
}

h2
{
	text-align: center;
	margin-bottom: 2rem;
}

p
{
	margin-bottom: 0.5rem;
}

button
{
	width: 8rem;
	margin: 2rem;
	margin-left: 1.2rem;
	margin-right: 1.2rem;
	padding: 0.2rem;
	font-size: 0.9rem;
}

input[type="number"]
{
	font-size: 0.85rem;
	width: 4rem;
}

input[type="checkbox"]
{
	width: 0.8rem;
	height: 0.8rem;
}

input[type="range"]
{
	width: 8rem;
}

input[type="text"]
{
	font-size: 0.85rem;
	width: 11rem;
}

html
{
	font-size: 24px;
}

select
{
	font-size: 0.80rem;
}
